[Unit]
Description=Selenium Hub Service
After=network.target

[Service]
Type=forking
WorkingDirectory=/opt/selenium/
ExecStart=/usr/bin/java -cp /opt/selenium/selenium-server-standalone.jar -role hub -hubConfig $CONF ${SE_OPTS} &
ExecStop=/bin/kill -TERM $MAINPID
Restart=always

[Install]
WantedBy=multi-user.target
